/* ===========================
   SIDEBAR
=========================== */

.sidebar{

    position:fixed;

    right:35px;

    top:50%;

    transform:translateY(-50%);

    display:flex;

    flex-direction:column;

    align-items:center;

    gap:18px;

    z-index:9999;

}

/* ===========================
   LINEA
=========================== */

.sidebar-line{

    position:absolute;

    top:12px;

    bottom:12px;

    width:2px;

    background:#D9DEE8;

    z-index:-1;

}

/* ===========================
   DOT
=========================== */

.sidebar-dot{

    width:14px;

    height:14px;

    border-radius:50%;

    background:#C8CEDA;

    transition:.35s;

}

.sidebar-dot:hover{

    transform:scale(1.2);

}

.sidebar-dot.active{

    background:var(--primary);

    transform:scale(1.7);

}

/* ===========================
   PAGE COUNTER
=========================== */

.page-counter{

    position:fixed;

    left:35px;

    bottom:30px;

    background:white;

    border-radius:14px;

    padding:12px 18px;

    box-shadow:var(--shadow-sm);

    font-weight:700;

    z-index:999;

}

.separator{

    margin:0 6px;

    opacity:.5;

}

/* ===========================
   NEXT ARROW
=========================== */

.next-arrow{

    font-size:2rem;

    color:var(--primary);

    cursor:pointer;

    animation:bounce 2s infinite;

}

@keyframes bounce{

    0%,100%{

        transform:translateY(0);

    }

    50%{

        transform:translateY(10px);

    }

}