<section class="slide" id="slide-4">

    <div class="paper">

        <header class="slide-header animate fade-up">

            <div class="slide-number">
                04
            </div>

            <div class="section-title">

                <span class="section-badge">
                    DESARROLLO
                </span>

                <h1>Reglas</h1>

                <p>
                    Restricciones y condiciones.
                </p>

            </div>

        </header>

        <main class="slide-body">

    <div class="rules-grid">

        <div class="rule-card">
            <span class="icon-badge green"><i class="bi bi-fuel-pump-fill"></i></span>
            <p>Si el combustible ≤ 30%, la nave busca la estación de combustible más cercana.</p>
        </div>

        <div class="rule-card">
            <span class="icon-badge purple"><i class="bi bi-box-seam-fill"></i></span>
            <p>Si hay espacio en la bodega, busca el contenedor más cercano.</p>
        </div>

        <div class="rule-card">
            <span class="icon-badge blue"><i class="bi bi-crosshair"></i></span>
            <p>Si no hay objetivos alcanzables, explora el mapa eligiendo la casilla menos visitada.</p>
        </div>

        <div class="rule-card">
            <span class="icon-badge red"><i class="bi bi-slash-circle"></i></span>
            <p>La nave no puede atravesar asteroides ni otras naves.</p>
        </div>

    </div>

</main>

        <footer class="slide-footer">

            {% include "expo/partials/arrow.html" %}

        </footer>

    </div>

</section>
